body {
    font-family: 'Open Sans', sans-serif;
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number,
.empty {
    background-color: #eaedef;
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background: #D31027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EA384D, #D31027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EA384D, #D31027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button:nth-child(8) {
    font-size: 20px;
    background: #FF8008;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFC837, #FF8008);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFC837, #FF8008);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button:nth-child(12) {
    font-size: 20px;
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button:nth-child(16) {
    font-size: 20px;
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8DC26F, #76b852);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8DC26F, #76b852);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button:nth-child(20) {
    font-size: 20px;
    background: #6a3093;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a044ff, #6a3093);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #a044ff, #6a3093);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}